html,
body {
    height: 100%;
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #333;
}

/* Map */
.map {
    width: 100%;
    height: calc(100% - 60px);
}

/* Search bar */
.search-bar {
    top: 0;
    width: 100%;
    height: 60px;
    background: #c0392b;
}

h1 {
    display: none;
}

.search-input {
    width: 80%;
    float: left;
    margin: 10px 3% 0 3%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    box-shadow: 2px 2px 2px #6f150c;
}

/* Hide/show sidebar menu*/
.right-menu {
    float: right;
    margin: 16px 20px 0 0;
}

    .right-menu .fa {
        font-size: 24px;
        color: #333;
    }

.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
}

    .sidr.right {
        left: auto;
        right: -240px;
    }

/* Sidebar */
.sidebar {
    width: 200px;
    padding: 0 20px 20px;
    top: 60px;
    height: 100%;
    background-color: #e74c3c;
    overflow: scroll;
}

.filters {
    display: none;
}

.list {
    padding: 0;
    list-style: none;
}

.item {
    background: #f49288;
    padding: 10px;
    box-shadow: 2px 2px 2px #6f150c;
    margin: 20px 0 0 0;
}

    .item:hover {
        background: #c0392b;
        cursor: pointer;
    }

/* Sidebar and infoWindow*/
h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 0;
}

p {
    margin: 0 0 5px;
}

.category {
    color: #6f150c;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.fa {
    font-size: 12px;
    color: #6f150c;
}

.info-window {
    min-width: 300px;
    max-width: 500px;
    min-height: 150px;
    padding: 15px 0;
}

.yelp-image {
    float: left;
    padding: 0 10px 10px 0;
}

.yelp-link {
    color: #6f150c;
    text-decoration: none;
}

    .yelp-link:hover {
        color: #333;
    }

.yelp-snippet {
    clear: both;
}

@media screen and (min-width: 1024px) {
    /* Map */
    .map {
        width: calc(100% - 240px);
    }

    /* Search bar */
    h1 {
        float: left;
        display: block;
        color: #fff;
        margin: 17px 0 0 20px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1.5px;
    }

    .search-input {
        width: 200px;
        float: right;
        margin: 10px 20px 0 0;
        padding: 10px 5px;
    }

    /* Hide/show sidebar */
    .right-menu {
        display: none;
    }

    .sidr {
        display: block;
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 999999;
        width: 240px;
        overflow-x: visible;
        overflow-y: visible;
    }

        .sidr.right {
            left: 0;
            right: 0;
        }

    /* Sidebar */
    .sidebar {
        position: fixed;
        display: block;
        right: 0;
    }
}

@media screen and (min-width: 1280px) {
    /* Map */
    .map {
        width: calc(100% - 360px);
    }

    /* Search bar */
    h1 {
        margin-left: 30px;
    }

    .search-input {
        width: 304px;
        margin: 10px 34px 0 0;
    }

    /* Sidebar */
    .sidebar {
        width: 320px;
        padding: 20px;
    }

    .filters {
        display: block;
        padding: 0 0 0 20px;
    }

        .filters .fa {
            font-size: 20px;
            padding: 5px 10px;
        }

    .item {
        height: 90px;
    }
}
