html,
body {
    height: 100%;
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #333;
}

#map {
    height: calc(100% - 70px);
    width: calc(100% - 360px);
}

#mobile,
#sidebar {
    position: absolute;
}

.search-bar {
    top: 0;
    background: #C0392B;
    padding: 12px 10px;
    height: 36px;
    width: calc(100% - 360px);
}

#sidebar {
    top: 0;
    width: 320px;
    bottom: 0;
}

#mobile {
    top: 0;
    right: 320px;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.sidebar {
    width: 320px;
    height: 100%;
    background-color: #E74C3C;
    position: fixed;
    right: 0;
    padding: 20px;
    overflow: scroll;
}

h1 {
    width: 70%;
    float: left;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1.5px;
    padding-left: 30px;
}

.search {
    width: 25%;
    margin-right: 30px;
    float: right;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    box-shadow: 2px 2px 2px #6f150c;
}

.list {
    padding: 0;
    list-style: none;
}

.item {
    background: #f49288;
    padding: 10px;
    box-shadow: 2px 2px 2px #6f150c;
    height: 90px;
    margin: 20px 0 0 0;
}

.item:hover {
    background: #C0392B;
    cursor: pointer;
}

    .foto {
        width: 100px;
        height: 100px;
        float: left;
        padding: 0 10px 0 0;
    }
    
    .name {
        font-size: 14px;
        text-transform: uppercase;
        margin: 5px 0;
    }
    
    .category,
    .fa {
        margin: 0;
        color: #6f150c;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .fa {
        font-size: 12px;
    }
    
    .filters {
        padding: 0 0 0 20px;
    }
    
    .filters .fa {
        font-size: 20px;
        padding: 5px 10px;
    }    
            
    .address {
        margin: 0 0 5px 0;
    }   
    
    .web {
        margin: 0;
    } 
    
    .info-window {
        min-width: 200px;
        min-height: 150px;
        padding: 5px 0;
    }

@media screen and (max-width: 1279px) {
    #map {
        width: calc(100% - 200px);
    }
    
    .filters {
        display: none;
    }
    
    .sidebar {
        width: 200px;
    }
    
    .search {
        padding: 10px 0 10px 10px;
    }
    
    h1 {
        display: none;
    }
    
    .search {
        width: 100%;
        margin-left: 30px;
    }
        
    .item {
        height: auto;
    }
    
        .foto {
            width: 70px;
            height: 70px;
            padding: 0 5px 5px 0;
        }
        
        .name {
            margin: 5px 0;
        }
        
        .address {
            clear: both;
        }
}
